body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sponsor-description {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sponsor-card-wrapper {
  border: 3px solid #ff0066;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
}

.row.no-gutters {
  display: flex;
  flex-wrap: nowrap;
}

.sponsor-headshot {
  border-radius: 50%;
  margin-left: 10px;
}

.headshot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  height: 160px;
}

.sponsor-card .card-title {
  font-size: 24px;
  color: #ff0066;
  margin-bottom: 20px;
}

.sponsor-card .card-text {
  margin-bottom: 10px;
}

.sponsor-card .website-button {
  margin-top: 10px;
}

.sponsor-type {
  font-weight: bold;
  color: #ff0066;
}

.btn-custom {
  width: 200px;
  background-color: #ff0066;
  border-radius: 24px;
  color: #fff;
  padding: 20px 40px;
}

.btn-custom:hover {
  background-color: #6b006b;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .row.no-gutters {
    flex-wrap: wrap;
  }

  .sponsor-headshot {
    margin-left: 0;
    margin-top: 10px;
  }
}
